<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title> 
	<script src="vue.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>

	<div id="app">
		<div class="container"> 
				<div class="row">
					<div class="col-sm-6">
						<select class="form-control"  style="width: 100%;" @change="changeunits">
					 		<option value="weights">weights</option>
					 		<option value="longeurs">longueur</option> 
				 		</select>
					</div>
				</div>
				<br>
				<div class="row" v-if="unitslist.length>0">
				<div class="col-sm-3"> 
					<input class="form-control" type="number" style="width: 100%;" v-model="inputval" @input="convert">
						<select class="form-control"  @change="changesource"  style="width: 100%;" >
						<option v-for="unit in unitslist" :value="unit.val">{{unit.unite}}</option>
					 	</select>
				</div> 
				<div class="col-sm-3">
						<input class="form-control" type="number" style="width: 100%;" v-model="outputval">
						<select class="form-control" @change="changedest" style="width: 100%;">
					 		<option v-for="unit in unitslist" :value="unit.val">{{unit.unite}}</option>
					 	</select>
				</div>
			</div>
			
		</div>
	</div>

	<script>
		new Vue({
			el: "#app",
			data:{
				sourceunit:"1",
				destunit:"1",
				outputval:"",
				inputval:"",
				unitslist:[],
				weights:[{unite:"Kg",val:1},
						{unite:"G",val:1000},
						{unite:"Lbs",val:2.20462},
						{unite:"mg",val:1000000}],
				longeurs:[{unite:"Km",val:1},
							{unite:"m",val:1000},
							{unite:"Inches",val:39370.08}]

	


			},
	 
			methods:{
				changeunits:function (event) {
					this.unitslist=this[event.target.value];
				},
				changesource(event){
					this.sourceunit=event.target.value;
					this.convert();
				},
				changedest(event){
					this.destunit=event.target.value;
					this.convert();
				},
				convert(){
					this.outputval=(this.inputval/this.sourceunit)*this.destunit;
				}
			}
			
		});
	</script>
</body>
</html>